table{
    border: 1px solid;
    background-color: rgb(33, 158, 196);
}

th{
    font-weight: normal;
    text-align: center;
    width: 110px;
    background-color: rgb(4, 58, 4);
    color:rgb(152, 233, 152);
}

td{
    color: black;
}

.filaUno{
    background-color: rgba(42, 134, 42, 0.774)
}

.filaDos{
    background-color: rgb(15, 58, 15);
}

.filaTres{
    background-color: rgba(42, 134, 42, 0.774)
}

#filaAerobic, #filaStep{
    background-color: rgba(42, 134, 42, 0.774);
    text-align: start;
}

#filaTresEuros{
    background-color: rgba(42, 134, 42, 0.774);
    color: black;
    text-align: center;
}

#filaMusculacion{
    background-color: rgb(21, 92, 21);
}

#filaCuatroEuros{
    background-color: rgb(21, 92, 21);
    text-align: center;
}

.class{
    width: 200px;
}